cc_code/
*neig*.h5
*tmp_cc*
*models*
*metadata.json.zip
documents
figures
rebutal_analyses
Other
*sign0.h5
*sign1.h5
*sign2.h5
*sign3.h5
*sign4.h5
*example*
local_CC_B1_example/
local_CC_D1_example/
local_CC_D6_example/
local_CC_M1_example/
local_CC_M1/
local_CC_B1/
local_CC_D1/
local_CC_D6/
